.testmonials {

    padding-bottom: 20px;
    
    &__heading {
        text-align: center;
        padding-bottom: 50px;
        padding-top: 30px;

        h2 {
            font-size: 1.1em;
            color: #777;
        }

        h1 {
            font-size: 1.4em;
            color: #444CF7;
        }
    }

    &__testmonial {

        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        height: 100%;
        margin: 0 auto;
        width: 100%;
        border-radius: 20px;
    }

    &__slide {

        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 30px;

    }


    &__image {
        padding-top: 30px;

        img {

            border-radius: 50%;
            height: 120px;
            width: 120px;
            object-fit: cover;
        }
    }

    &__detail {
        padding :40px 0;
        text-align: center;
        color: #777;
        max-width: 500px;

        p {
            padding: 1rem 0;
            font-size: 1rem;
            font-weight: 600;
        }

        .bi-quote {
            color: #444CF7;
        }

        h1 {
            padding: 1rem 0;
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1.1rem;
        }

    }


}

.contact{

    background-color: rgba(239, 239, 239, 0.321);
    &__heading{
            text-align: center;
            padding-bottom: 50px;

            h3{
                color: #777;
            }

            h1{
                color: #444CF7;
            }
    }

    &__form{
        max-width: 400px;
        margin: 0 auto;

        @media(min-width: 50em){
            max-width: 700px;
        }

    }

    &__input{
        height: 100%;
        margin: 1rem 0;
        padding: 1rem;
        width: 100%;
        font-size: 0.7rem;
        font-weight: 600;
        border-radius: 20px;
        border: 2px solid #444CF7;
        outline: none;
        background-color: #fff;
    }

    &__button{
        display: block;
        margin: 0 auto;
        margin-top: 0.7rem;
    }



}


