
// colors

$primary-color: #444CF7; //pinkishredcolor
$secondary-color: #FF4B2B; //redishorangecolor
$text-gray:#B7C4CF;
$text-color:#a09d9d;
$text-black:#000000;
$text-white:#ffffff;
$dark-blue:hsl(233, 14%, 33%);
